body {
  font-family: Times new Roman;
  background:yellow;
  padding: 40px;
}

.container{
  max-width: 450px;
  margin: auto;
  background:lightblue;
  padding:25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0.5,0,0.1);
}
h2{
	text-align:center;
	margin-bottom:20px;
	
}
.subject-list label {
	display:block;
	padding:6px 0;
	cursor: pointer;
}
.total-box{
	background:#e8f0ff;
	padding:10px;
	font-size:18px;
	margin: 15px 0;
	border-radius: 5px;
}
button {
	width:100%;
	padding:10px;
	font-size:16px;
	background:#0073ff;
	border:none;
	color:white;
	border-radius:5px;
	cursor:pointer;
}
button:hover{
	background:green;
}